body{
    margin: 0;
    font-family: Arial;
    background: rgb(188, 12, 103);
}

nav{
    background: rgb(0, 0, 0);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a{
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

nav a:hover{
    color: rgb(255, 200, 33);
}
 
.hero{
    background: 10px 20px;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

    .hero button{
        padding: 10px 20px;
        background: rgb(222, 152, 23);
        border: none;
        font-size: 16px;
}

.service{
    text-align: center;
    padding: 40px;
}

.box{
    background: rgb(194, 230, 33);
    padding: 20px;
    margin:10px auto;
    width:250px;
    
}
.page{
    padding: 40px;

    text-align: center;
}

form input,form textarea{
    width:80px;
    margin:10px 0;
    padding: 10px;
}

form button{
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
}

footer{
    background: rgb(12, 10, 10);
    color:white;
    text-align: center;
    padding:10px;
    
}